<!DOCTYPE html>
<html>
<head>
	<title>
		BizList
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	  
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    

	<link href="/assets/stylesheets/listing.css" rel="stylesheet" type="text/css" />

</head>
<body background-color="black" style="overflow-x: hidden">
	<header>
	    <nav class="navbar navbar-inverse" style="margin-bottom: 0px;">
	      <div class="container-fluid">
	        <div class="navbar-header">
	               <a href="Home"><img src="/assets/images/logo2.png" class="logo" style="width: 60px;"> </img></a>
	        </div>
	        <div>
	           <ul class="nav navbar-nav" style="margin-right: 15%;">
		            <li><a href="#">Buy</a></li>
		            <li><a href="#">Sell</a></li>
		            <li><a href="#">Rent</a></li>
		            <li><a href="#">Agent Finder</a></li>
		            <li> </li>

		        </ul>
		        <ul  class="nav navbar-nav" id="banner" >BizList </ul>
		        <ul class="nav navbar-nav navbar-right" style="width: 400px; padding-top: 10px;">
		           
		           
         		</ul>
	        </div>
	      </div>
	    </nav>
	</header>

        <section class="containers">

        <div class="cont-1">
        <center>
       <div id="signupbox"  style="margin: 4% 0% 10% 60%;border-radius: 15px; width: 30%">
                    <div class="panel panel-info" style="border-radius: 15px;">
                        <div class="panel-heading" style="border-radius: 15px;">
                            <div class="panel-title" align="center">Contact Us</div>
                            
                        </div>  
                        <div class="panel-body" style="border-radius: 15px;" >
                            <form id="signupform" class="form-horizontal" role="form">
                                
                                <div id="signupalert" style="display:none" class="alert alert-danger">
                                    <p>Error:</p>
                                    <span></span>
                                </div>
                                    
                                
                                  
                                <div class="form-group">
                                    <label for="email" class="col-md-5 control-label">Email</label>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control" name="email" placeholder="Email Address">
                                    </div>
                                </div>
                                    
                                <div class="form-group">
                                    <label for="firstname" class="col-md-5 control-label">First Name</label>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control" name="firstname" placeholder="First Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="lastname" class="col-md-5 control-label">Last Name</label>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control" name="lastname" placeholder="Last Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="description" class="col-md-5 control-label">Description</label>
                                    <div class="col-md-7">
                                        <textarea rows="4" cols="50" class="form-control" name="description" placeholder="Description"> </textarea>
                                    </div>
                                </div>
                               

                                <div class="form-group">
                                    <!-- Button -->                                        
                                    <div >
                                       <center> <button id="btn-signup" type="button" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Submit</button></center>
                                         
                                    </div>
                                </div>
                            
                                
                                
                                
                            </form>
                         </div>
                    </div>

               
               
                
         </div> 
    
        </center>
        </div>
        </section>
	<footer>
		 <nav class="navbar navbar-inverse" style="margin-bottom: 0px;">
	      <div class="container-fluid">
	        <div>
		        <ul class="nav navbar-nav navbar">
		            <li><a href="About"> About</a></li>
		            <li><a href="#"> Research</a></li>
		            <li><a href="#"> Help</a></li>
         		</ul>
         		<ul class="nav navbar-nav navbar-right">
		            <li><a href="ContactUs"> Contact Us</a></li>
		            <li><a href="#"> Support</a></li>
		            <li><a href="#"> Blog</a></li>
         		</ul>
	        </div>
	      </div>
	    </nav>
	</footer>
</body>
</html>